* {
    font-family: "Poppins";
    color: white;
    font-size: 18px;
    font-weight: 700;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

header {
    background-color: black;
}

.logo {
    display: flex;

    padding-right: 10px;

    text-transform: uppercase;
}

.logo p {
    padding-right: 10px;

    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}