* {
    font-family: "Poppins";
    color: white;
    font-size: 18px;
    font-weight: 700;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/images/background_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(11, 29, 38);
}

header {
    margin: 65px 80px 0px 80px;

    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;

    padding-right: 10px;

    text-transform: uppercase;
}

.logo p {
    padding-right: 10px;

    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    user-select: none;
}

nav {

}

nav a {
    margin-right: 30px;

    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button img {

}

.login-button a {
    padding-left: 10px;

    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}